<div id="container">
    <header>
        <h3>{{viewValue}}</h3>
        <app-cig-dropdown 
                [dropDownList]="dropDownList"
                [selectedValue]="selectedValue"
                (dropDownEvent)="receiveDropDownEvent($event)"
        ></app-cig-dropdown>
    </header>
    <div id="body">
        <div id="content">
            <div *ngIf="viewCode === 'CLIENT'">
                <app-clients></app-clients>                
            </div>            
            <app-orders *ngIf="viewCode === 'ORDER'"></app-orders>
            <app-cigrattes *ngIf="viewCode === 'CIG'"></app-cigrattes>
            
        </div>
    </div>
    <footer>
        
    </footer>
</div>

