<div id="body">
  <div id="client-list">
    <p-table [columns]="cols" [value]="clients" >
      <ng-template pTemplate="header">
          <tr>
              <th>WeChatId</th>
              <th>Name</th>
              <th>School</th>
              <th>Created Date</th>
              <th [ngStyle]="{'width': '30%'}">Order</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-client>
          <tr>
              <td>{{client.wechatId}}</td>
              <td>{{client.name}}</td>
              <td>{{client.university}}</td>
              <td>{{client.createdDate*1000 | date:'MM/dd/yyyy'}}</td>
              <td>
                <p-splitButton id="orderDetail" 
                [model]="orderDetail"
                icon="pi pi-check"  label="Details"
                (onDropdownClick)='openDropDownList()'
                (onClick)='openOrderDetail(client.wechatId)'
                [model]="items"
                ></p-splitButton>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
